form {
    /* Centrar el formulario en la página */
    margin: 0 auto;
    width: 400px;
    /* Esquema del formulario */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
    background-color: aliceblue; 
  }
body{
 background-image: url("http://4.bp.blogspot.com/-BqBN5CIOqfw/VfHT5u55nPI/AAAAAAAAFLs/c-OO7jLgQpc/s1600/AGENCIA_DE_VIAJES_REPORTE_LOBBY_1.jpg");
}
h2{
    color: #4455aa;
    text-align: center;
    font-family: sans-serif;
}
form > button{
    margin: 0 50px;
    border-radius: 30px;
    border: none;
    background-color: aquamarine;
    width: 300px;
    height: 50px;
}